@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body,
html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/goalieCoachBG.png");
    height: 140%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    font-size: 1.6rem;
    color: white;
}


/* SERVICES SECTION */

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#what-we-do {
    background: #ffffff;
}

#what-we-do .card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#what-we-do .card:hover {
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#what-we-do .card .card-block {
    padding-left: 50px;
    position: relative;
}

#what-we-do .card .card-block a {
    color: #007b5e !important;
    font-weight: 700;
    text-decoration: none;
}

#what-we-do .card .card-block a i {
    display: none;

}

#what-we-do .card:hover .card-block a i {
    display: inline-block;
    font-weight: 700;

}

#what-we-do .card .card-block:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

#what-we-do .card .block-1:before {
    content: "\f135";
}

#what-we-do .card .block-2:before {
    content: "\f041";
}

#what-we-do .card .block-3:before {
    content: "\f002";
}

#what-we-do .card .block-4:before {
    content: "\f209";
}

#what-we-do .card .block-5:before {
    content: "\f0a1";
}

#what-we-do .card .block-6:before {
    content: "\f0ad";
}

#what-we-do .card:hover .card-block:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

/* SERVICES SECTION */

.carousel-item h5 {
    font-size: 1.6rem;
    color: #fff;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}

/* FOOTER SECTION */

/* Set the size of the div element that contains the map */
.page-footer {
    background-color: #322e2e;
    color: #ffffff;
}

.container-fluid{
    padding: 0 4% !important;
}

#map {
width: 90%;
height: 250px;
}

.contact {
    line-height: 1.5rem;
    margin-top: 26px;
}

.footer-copyright{
    background-color: #000000;
    width: 100%;
}